body {
  font-family: "Open Sans", sans-serif;
}

.card-title {
  font: 500 1.25rem "Lobster", cursive;  /* 500 font-weight, 1.25rem font-size, Lobster font-family, cursive font (if Lobster is not installed) */
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5); /* 50% transparent */
}